# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDEs
.vscode/
archives/

# GDB
*/**/.gdb_history

# Artifacts
build/
docs/api/
docs/doxygen_warn.log
tools/

# lint artifacts
ncc.stderr

# OS files
.DS_Store

# Conan Files
graph_info.json
conaninfo.txt
conan.lock
conanbuildinfo.txt

# CMake
CMakeUserPresets.json
